GRUPO=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08=gaston=24/04/2016 23:24
BINDIR=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08/binarios=gaston=24/04/2016 23:24
MAEDIR=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08/maestros=gaston=24/04/2016 23:24
ARRIDIR=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08/arribados=gaston=24/04/2016 23:24
OKDIR=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08/aceptados=gaston=24/04/2016 23:24
PROCDIR=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08/procesados=gaston=24/04/2016 23:24
INFODIR=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08/informes=gaston=24/04/2016 23:24
LOGDIR=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08/bitacoras=gaston=24/04/2016 23:24
NOKDIR=/home/gaston/workspace/sistemas-operativos/cipal/Grupo08/rechazados=gaston=24/04/2016 23:24
LOGSIZE=10000=gaston=24/04/2016 23:24
SLEEPTIME=1000=gaston=24/04/2016 23:24
