GRUPO=/home/andres/git/cipal/Grupo08=root=29-04-2016 10:35
BINDIR=/home/andres/git/cipal/Grupo08/binarios=root=29-04-2016 10:35
MAEDIR=/home/andres/git/cipal/Grupo08/maestros=root=29-04-2016 10:35
ARRIDIR=/home/andres/git/cipal/Grupo08/arribados=root=29-04-2016 10:35
OKDIR=/home/andres/git/cipal/Grupo08/aceptados=root=29-04-2016 10:35
PROCDIR=/home/andres/git/cipal/Grupo08/procesados=root=29-04-2016 10:35
INFODIR=/home/andres/git/cipal/Grupo08/informes=root=29-04-2016 10:35
LOGDIR=/home/andres/git/cipal/Grupo08/bitacoras=root=29-04-2016 10:35
NOKDIR=/home/andres/git/cipal/Grupo08/rechazados=root=29-04-2016 10:35
BCKP=/home/andres/git/cipal/Grupo08/backup=root=29-04-2016 10:35
LOGSIZE=10000=root=29-04-2016 10:35
SLEEPTIME=1000=root=29-04-2016 10:35
